html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: "Permanent Marker";
}

body {
	padding: 0px;
	margin: 0px;
}

#background {
	filter: blur(8px);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("../images/background.jpg");
	background-size: 150%;
	background-position: 75% 0%;
}

.particle {
	position: absolute;
	transition: left 0.5s, top 0.5s;
	transition-timing-function: ease-in;
	z-index: 100;
}
