#your-kiwi {
	width: 600px;
	height: 600px;
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
	z-index: 0;
}

#fake-kiwi {
	width: 600px;
	height: 600px;
	position: absolute;
	left: calc(50% - 300px);
	top: 36px;
	z-index: -2;
}

#your-kiwi-character-window {
	position: absolute;
	left: 159px;
	top: 680px;
	overflow-x: scroll;
	width: 900px;
}

#your-kiwi-inventory-window {
	position: absolute;
	right: 12px;
	overflow-y: scroll;
	width: 308px;
	height: 680px;
}

#your-kiwi-inventory-table td {
	cursor: hand;
}

.placed-ornament {
	position: absolute;
	cursor: hand;
}

.your-kiwi-editor-button {
	position: absolute;
	width: 100px;
	height: 100px;
	cursor: hand;
}

#depth-toggle {
	left: 36px;
	top: 112px;
	background-image: url("../../images/sidebar/your-kiwi/depth-toggle.png");
	background-size: 100%;
}

#remove-all-ornaments {
	left: 36px;
	top: 236px;
	background-image: url("../../images/sidebar/your-kiwi/clear-all-ornaments.png");
	background-size: 100%;
}
