* {
	color: black;
}

.happy {
	color: green;
}

.sad {
	color: red;
}

.message {
	background-color: white;
}

.message-dismiss {
	background-color: white;
}

#dialog {
	background-color: white;
}

#dialog-dismiss {
	background-color: white;
}

#game {
	background-color: white;
}

#story {
	background-color: white;
}

#explanation {
	background-color: white;
}

#controls {
	background-color: white;
}

#stats {
	background-color: white;
}

#sidebar {
	background-color: white;
}

#sidebar-back {
	background-color: white;
}

.inventory-table td {
	background-color: white;
}

#settings select, #settings option {
	color: black;
	background-color: white;
}
